<body>
    <div align="center" id="box">
        <div style="height: 30%;"></div>
        <div id="info">
            Welcome to the Tropical Farm<br>
            The Largest Export Trading Comapny in Sri Lanka!
            <br><br>
            <cool-google-button color="light" (click)="signInHandler()">Login with Google</cool-google-button>
        </div>
    </div>

    <footer class="bg-dark text-center text-white" style="font-weight: lighter;">
      
        <!-- Copyright -->
        
        <div class="text-center p-sm-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2022 Copyright:
          <a class="text-white" href="https://www.google.lk/?gws_rd=ssl" target="_blank">Tropical Farm The Export Trading Comapny</a>
          &nbsp;|&nbsp;
          <a class="text-white" href="https://www.facebook.com/laksithalayanajith98/" target="_blank">Laksitha Nayanajith</a>
        </div>
        <!-- Copyright -->

      </footer>

</body>