mat-toolbar{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
    display: flex;
}

.right-content{
    font-size: medium;
    font-weight: normal;
    padding: 10px;
    right: 0px;
    width: 100%;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid white;

  }