<div class="container">

    <h1>Item</h1>

    <div class="container">
        <span><button type="button" mat-raised-button color="primary" routerLink="/item/addnew">Add new +</button></span>
        <span><button class="viewmargin" type="button" mat-raised-button routerLink="/item"> View In Stock Items</button></span>
        <span *ngIf="viewitems.length > 0">
            <mat-form-field appearance="outline" class="search">
              <input type="text" [(ngModel)]="searchKey" placeholder="Search sold items..." autocomplete="off" matInput>
              <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="searchClear()"><mat-icon>close</mat-icon></button>
            </mat-form-field>
          </span>
    </div>
    
</div>

<div align="center" *ngIf="viewitems.length < 0">
    <img src="https://cdn.dribbble.com/users/1753953/screenshots/3818675/animasi-emptystate.gif" /><br><br>
    <h1 style="font-size: 50px; font-weight: bold; color: skyblue;">Nothing to show......</h1>
</div>

<div align="center">
    <mat-spinner  *ngIf="viewitems.length == 0"></mat-spinner>
  </div>
  
  <div class="information" *ngIf="viewitems.length > 0">
    <div>
      <button type="button" mat-flat-button color="accent" (click)="importAsXlsx()"><mat-icon>file_download</mat-icon>Download Sold Items for Google Sheet</button> &nbsp;
      <a href="https://codebeautify.org/jsonviewer" target="popup" onclick="window.open('https://codebeautify.org/jsonviewer','popup','width=600,height=600')"><button type="button" color="accent" mat-flat-button><mat-icon>preview</mat-icon>Open JSON viewer</button></a> &nbsp;
      <button type="button" mat-flat-button color="accent"><mat-icon>text_snippet</mat-icon>Generate Sold Item's Report</button>
    </div>
      <table mat-table matTableExporter [dataSource]="viewitems | filter:searchKey | paginate: { itemsPerPage: 5, currentPage: p}" class="mat-elevation-z8 table-index">

            <ng-container matColumnDef="ItemID">
                <th mat-header-cell *matHeaderCellDef>Item ID</th>
                <td mat-cell *matCellDef="let element"><b> ITM00{{element.itemID}} </b></td>
            </ng-container>
          
            <ng-container matColumnDef="ItemName">
              <th mat-header-cell *matHeaderCellDef>Item Name</th>
              <td mat-cell *matCellDef="let element"><b> {{element.itemName}} </b></td>
            </ng-container>

            <ng-container matColumnDef="ItemType">
                <th mat-header-cell *matHeaderCellDef>Item Type</th>
                <td mat-cell *matCellDef="let element"><b> {{element.itemType}} </b></td>
            </ng-container>

            <ng-container matColumnDef="Weight">
                <th mat-header-cell *matHeaderCellDef>Weight</th>
                <td mat-cell *matCellDef="let element"> {{element.weight}} Kg</td>
            </ng-container>

            <ng-container matColumnDef="SoldDateTime">
                <th mat-header-cell *matHeaderCellDef>Sold Date & Time</th>
                <td mat-cell *matCellDef="let element"><i> {{element.soldDateTime}} </i></td>
            </ng-container>
  
            <ng-container matColumnDef="Actions">
              <th mat-header-cell *matHeaderCellDef></th>
              <td align="right" mat-cell *matCellDef="let element">
                <button type="button" class="btnmargin fkbuttons" color="accent" (click)="viewsupplier(element.supplierID)" mat-fab><mat-icon>person_outline</mat-icon></button>
                <button type="button" class="btnmargin fkbuttons" color="accent" (click)="viewstock(element.stockID)" mat-fab><mat-icon>home</mat-icon></button>
                <button type="button" class="btnmargin fkbuttons" color="accent" (click)="viewcompany(element.companyID)" mat-fab><mat-icon>business</mat-icon></button>
                <a href="https://localhost:44370/api/Items/{{element.itemID}}/" target="_blank"><button type="button" class="btnmargin fkbuttons" color="accent" mat-fab><mat-icon>visibility</mat-icon></button></a>
                <button type="button" class="btnmargin" color="warn" (click)="DeleteItem(element.itemID)" mat-fab><mat-icon>delete_forever</mat-icon></button>
              </td>
            </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let column; columns: columnsToDisplay"></tr>
  
      </table>

      <div class="mat-elevation-z8" id="pagination" align="center">
        <br>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>

  </div>